<!doctype html>
<html>
  <body>
    <p>Congrats <strong>{{ first_name }} {{ last_name }}</strong>,</p>

    <p>Your account has been <strong>successfully created</strong> at <strong>HIE TECH SOLUTIONS</strong>.</p>

    <h4>Account details</h4>
    <ul>
      <li><strong>Name:</strong> {{ first_name }} {{ last_name }}</li>
      <li><strong>Email:</strong> {{ email }}</li>
      <li><strong>Account Number:</strong> {{ account_number }}</li>
    </ul>

    <p>Please <a href="http://127.0.0.1:8000/Mylogin/">click here to login</a> to your dashboard.</p>

    <p>Thanks,<br/>HIE TECH SOLUTIONS Team</p>
  </body>
</html>