{% load static %}   
<html>
<head>
    <title>Project Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to Project Home Page</h1>
    <img src="/media/sample.jpeg" alt="Sample Image" width="300">
    <nav>
        <a href="{% url 'App1_index' %}">Index</a> |
        <a href="{% url 'App1_about' %}">About</a>  |
        <a href="{% url 'App1_contact' %}">Contact</a>  |
        <a href="{% url 'App1_home' %}">App1 Home</a>
    </nav>
</body>
</html>