{% extends "base.html" %}

{% block title %}
<title>LoggedIn - HIE TECH SOLUTIONS</title>
{% endblock %}

{% load static %}

{%block content%}
<style>
    /* static/css/styles.css */
.container {
    text-align: center;
    padding: 50px;
}


.alert {
    padding: 15px;
    margin: 10px 0;
    background-color: #4CAF50; /* Green */
    color: white;
    border-radius: 5px;
}

</style>

<body>

    <div class="container">
        <h1>Welcome to Your Dashboard</h1>
        <div class="alert">     
        <p>Enjoy exploring the site, {{ user.first_name }} {{ user.last_name }}!</p>
        </div>
    </div>
</body>
</html>
{% endblock %}
